<a href="https://colab.research.google.com/github/d4rk10/ds300/blob/main/Clase001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
conjunto='a', 'b', 'c'
print("Conjunto: ", conjunto)

Conjunto:  ('a', 'b', 'c')

In [12]:
lista=['a', 'b', 'c']
print("Lista: ", lista)

Lista:  ['a', 'b', 'c']

In [22]:
lista=['cero', 'uno', 'dos', 'tres', 'cuatro', 'cinco', 'seis', 'siete', 'ocho', 'nueve']
print("Lista: ", lista)

#Subllista
fragmento=lista[0:10] 
print('fragmento: ', fragmento)

fragmento=lista[0:1]
print('fragmento: ', fragmento)

Lista:  ['cero', 'uno', 'dos', 'tres', 'cuatro', 'cinco', 'seis', 'siete', 'ocho', 'nueve']
fragmento:  ['cero', 'uno', 'dos', 'tres', 'cuatro', 'cinco', 'seis', 'siete', 'ocho', 'nueve']
fragmento:  ['cero']

In [41]:
diccionario={
    "nombre":  "Alparaco",
    "apellido":"Uribe"   ,
    "estado":  "Genocida"
}

print("Llaves : ", diccionario.keys())
print("Valores: ", diccionario.values())
print("Items  : ", diccionario.items())
print("Nombre : ", diccionario["nombre"])
print("Diccionario: ", diccionario)

Llaves :  dict_keys(['nombre', 'apellido', 'estado'])
Valores:  dict_values(['Alparaco', 'Uribe', 'Genocida'])
Items  :  dict_items([('nombre', 'Alparaco'), ('apellido', 'Uribe'), ('estado', 'Genocida')])
Nombre :  Alparaco
Diccionario:  {'nombre': 'Alparaco', 'apellido': 'Uribe', 'estado': 'Genocida'}

In [44]:
item_1={}
item_1['size']='grande'
item_1['color']='negro'
item_1['brand']='Renault'
item_1['value']=60

item_2={}
item_2['size']='mediano'
item_2['color']='blanco'
item_2['brand']='Mazda'
item_2['value']=37

print(item_1.items())
print(item_2.items())

valortotal=item_1['value']+item_2['value']

print('Valor total= ', valortotal)

dict_items([('size', 'grande'), ('color', 'negro'), ('brand', 'Renault'), ('value', 60)])
dict_items([('size', 'mediano'), ('color', 'blanco'), ('brand', 'Mazda'), ('value', 37)])
Valor total=  97